body {
  padding-left: 0px;
}

table {
  width: 100%;
  text-align: left;
  border: 1 solid;
  border-color: #25525e;
  border-spacing: 1;
  border-collapse: separate;
}

td,
th {
  padding: 7px;
  border: 1px solid;
  border-color: #25525e;
  border-spacing: 1;
  border-collapse: separate;
}

th {
  color: white;
  font-weight: bold;
}

table thead tr {
  height: 40px;
  background-color: #25525e;
}

table tbody tr {
  height: 28px;
  width: 37px;
}

td:nth-child(1) {
  text-align: center;
  width: 37;
  height: 40;
}

td:nth-col(2) {
  width: 233;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0px;
  font-family: "Poppins";
  line-height: 1.4;
  color: #3a3a3a;
  background-color: #f4f6f8;
  font-size: 15px;
  letter-spacing: 1px;
}
.main-body {
  background-color: white;
  padding: 3em 2em;
}
.right {
  float: right;
  display: inline;
  padding-right: 60px;
  padding-top: 60px;
}
.right i {
  font-size: 2em !important;
  color: white;
}
.float-right {
  float: right;
  position: relative;
}
.left {
  display: inline;
}

.top-bar {
  background-color: #25525e;
  width: 100%;
  top: 0;
  padding: 1em 2em 2em 2em;
  font-weight: 100;
  font-size: 0.6em;
}

.top-bar span strong {
  color: white;
}

.right span {
  padding: 0em 0.5em;
  transition: 0.3s;
  color: white;
  cursor: pointer;
}

.right a:hover {
  color: rgba(1, 146, 64) !important;
  transition: 0.3s;
  text-decoration: none;
}

.logo {
  width: 83px;
  height: 150px;
  margin-left: 100px;
}
.logoheader {
  font-size: 20px;
  color: white;
  font-weight: 900;
  padding-left: 0px;
}

.btn {
  border-radius: 1.5px;
  color: white !important;
  font-size: 1.1em;
  padding: 0.5em 1.5em;
}
.header-btns {
  margin-top: 10px;
}
.green:hover {
  background-color: rgba(1, 146, 64, 0.774);
  transition: 0.3s;
}

nav {
  border-top: 3px solid orange;
  padding: 1em 3em;
  font-size: 13px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  background-color: #25525e;
}
.dropbtn {
  padding: 16px 20px;
}

.dropdown,
.dropdown2 {
  position: relative;
  display: inline-block;
  text-align: left;
  transition: 0.3s;
}
.dropdown2 {
  width: 100%;
}

.dropdown-content,
.dropdown2-content {
  margin-top: 14px;
  display: none;
  height: 0px;
  position: absolute;
  background-color: #0e737f;
  min-width: 220px;
  transition: 0.3s;
  color: white;
}
.dropdown2-content {
  margin-top: -42px;
}

.dropdown-content a,
.dropdown2-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  height: fit-content !important;
  color: white;
  transition: 0.3s;
  text-transform: initial;
  border-bottom: 1px solid grey;
  background-color: #0e737f;
}

.dropdown-content a:hover,
.dropdown2-content a:hover {
  color: black;
  transition: 0.3s;
}

.dropdown:hover .dropdown-content,
.dropdown2:hover .dropdown2-content {
  display: block;
  height: fit-content !important;
  transition: 0.3s;
}
.dropdown:hover {
  color: black;
  transition: 0.3s;
}
.dropdown2-content {
  margin-left: 220px;
}

footer {
  background-color: white;
  font-weight: 300;
  padding: 2em;
  text-align: center;
  align-items: center;
}

.bottom-bar {
  background-color: orange;
  padding: 1em 5em;
  font-size: 1em;
  color: black;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center !important;
  align-items: center;
  line-height: 75px;
  font-size: 30px;
}
.footer-img {
  height: 60px;
  width: 60px;
}

h1 {
  color: #0e737f;
  font-weight: bolder;
  text-align: left;
  border-bottom: 1px dotted #999;
  padding-bottom: 28px;
  padding-top: 13px;
  margin-left: 30px;
  font-size: 25px;
}
